{% extends "simple_track.html" %}
{% block content %}
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<br>
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<br>
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
<img id="image" src="{{ url_for('static', filename='vibingcat.gif') }} " />
{% endblock %}
