<nav id = "nav">
    <img id="logo" src="{{ url_for('static', filename='music_library.png') }} " />
    <h6 id="nav-header">
        {% if 'user_name' in session %} Hello, {{session['user_name']}} {% endif %}
    </h6>
    <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Login</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a> 
    <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Log Out</a> 
    <div>
        <a class="btn-nav" href="{{ url_for('browse_bp.browse_tracks')}}">Browse Tracks</a>
        <a class="btn-nav" href="">Browse Albums</a>
    </div>
    <a class="btn-nav" href="">Liked Tracks</a>
    <div id="nav-footer">
        COMPSCI 235 MMAR667 ELI384
    </div>
</nav>

