<aside id="sidebar1">

    <header>
        <h2>Top Suggested Track</h2>
    </header>
    <div style="word-wrap: break-word">
        <h3>{{ random_track.title }}</h3>
        <h4>Track Duration: <b>{{ random_track.track_duration }}</b></h4>
    </div>
    <br>
    <br>
    <br>
    <header>
        <h2>Top Suggested Albums</h2>
    </header>
    <div style="word-wrap: break-word">
        <h3>{{ random_track.title }}</h3>
        <h4>Track Duration: <b>{{ random_track.track_duration }}</b></h4>
    </div>
</aside>