<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CS235 Music Library</title>
</head>
<body>
    <div id="body">
        <!-- navigator -->
        {% include 'navigator.html' %}
        <div id = "content-2" style="margin-left: 150px;border-top-width: 0px; border-top-style: solid; margin-top: -15px;">
            <!-- header -->
            {% include 'header.html' %}
        </div>
    </div>
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Track</title>
</head>
<body>
    <h1>CompSci 235 2022 - ??? </h1>
    <h2>{{ track.title }}</h2>
    <p>Track Duration: <b>{{ track.track_duration }}</b></p>
    <p>Track URL: {{ track.track_url }}</p>
</body>
</html>
-->